Mr. prakash is also recognised as: <br>

Combo box
<form>
    <select>
{{#each people}}
        <option>{{this}}</option> 
        {{/each}}  
         </select>
</form>


List view<br>
<ul>
    {{#each people}}
    <li>{{this}}</li>
    {{/each}}
</ul>



